.textBuy {
    font-size: 25px;
    font-family: sans-serif;
    color: $primary-color;
}

.btn {
    padding: 10px 15px;
    border: 1px solid $primary-color;
    background-color: $secundary-color;
}
